**/.bloop/
**/.metals/
**/.vscode/
**/target/
/.bsp/
/.idea/
logs/
project/project/
/*.iml
/*.ipr
/.classpath
/.idea_modules
/.project
/.settings
/null
/out
/RUNNING_PID
*.iws
.history
dist
lib_managed
tmp
/project/metals.sbt
