**/.bloop/
**/.metals/
**/.vscode/
**/target/
*.iws
.history
/*.iml
/*.ipr
/.bsp
/.classpath
/.idea
/.idea_modules
/.project
/.settings
/null
/out
/RUNNING_PID
dist
lib_managed
logs
project/project
tmp
